@import "@blueprintjs/core/lib/scss/variables.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;  
  font-family: 'Open Sans', sans-serif;
}

.flex-container {
  height: 100%;
  width: 100%;
  padding-top: ($pt-navbar-height);
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
